{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}Sistema de Alocação{% endblock %}</title>
</head>
<body>

    <header class="header">
        <div class="logo">
            <a href="{% url 'hub' %}">SPIE</a> </div>
        <nav>
    {% if user.is_authenticated %}
        <a href="{% url 'hub' %}">Início</a>

        <div class="nav-dropdown">
            <button class="nav-dropbtn">Cadastros SPIE</button>
            <div class="nav-dropdown-content">
                <a href="{% url 'spie:modulo_list' %}">Módulos</a>
                <a href="{% url 'spie:setor_list' %}">Setores</a>
                <a href="{% url 'spie:tipo_equipamento_list' %}">Tipos de Equipamento</a>
                <a href="{% url 'spie:tag_equipamento_list' %}">TAGs de Equipamento</a>
                <a href="{% url 'spie:defeito_list' %}">Defeitos</a>
                <a href="{% url 'spie:causa_list' %}">Causas</a>
                </div>
        </div>
        
        <span style="color: var(--amarelo-petrobras); margin-left: auto;">
            Olá, {{ user.username }}
        </span>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-button">Sair</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
</nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    {% block extra_js %}
    {% endblock %}

</body>
</html>