{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}Sistema de Alocação{% endblock %}</title>
</head>
<body>

    <header class="header">
    <div class="logo">
        <a href="{% url 'dashboard_geral' %}">SPIE</a>
    </div>
    <nav>
        {% if user.is_authenticated %}
            <span style="color: var(--amarelo-petrobras); margin-left: 25px;">
                Olá, {{ user.username }}
            </span>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-button">Sair</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>